@import '../variables.scss';
@import '../helpers.scss';

.benefits {
	margin: 140px 0;

	&__card {
		margin: 0 41px;
	}

	&--row-offset {
		margin-top: 85px;
	}

	@media only screen and (max-width: $breakpoint-md) {
		margin: 70px 0;
	}
}

.card {
	padding: 32px 0;
	border-top: 1px solid var(--grey);

	&__title {
		@include title;

		margin: 0;
	}

	&__content {
		@include text;

		font-size: 1.2857142857142858em;
		line-height: 1.4444444444444444em;
	}
}