@import '../variables.scss';

.main {
	width: 100%;

	background-image: var(--first-screen-image);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	overflow: hidden;

	&__content {
		margin: 158px 0;
	}

	&__header {
		color: var(--primary-dark);
		font-size: 3.142857142857143em;
		font-family: $text-font;
		font-weight: 400;
		line-height: 1.18181818em;
		margin: 0;

		&-keyword {
			color: var(--tint);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__description {
		@include text;

		font-size: 1.2857142857142858em;
		line-height: 1.4444444444444444em;
		margin-top: 24px;
		margin-bottom: 48px;
	}

	@media only screen and (max-width: $breakpoint-md) {
		background: var(--first-screen-background);

		&__first-page {
			height: 100vh;
		}
	}
}

.menu {
	margin-top: 31px;
	position: relative;

	&__blur {
		position: absolute;
		top: 0; left: 0;
		bottom: 0; right: 0;
		z-index: 0;

		background: var(--menu-gradient);
		transform: matrix(1, 0, 0, -1, 0, 0);
		backdrop-filter: blur(4px);
	}

	&__container {
		position: relative;
		z-index: 1;

		padding-top: 24px;
		padding-bottom: 24px;
	}

	&__logo {
		height: 32px;

		&-image {
			height: 100%;
			width: 105px;

			fill: #fff;
		}
	}

	&__theme-button {
		text-align: right;
	}

	&__mobile-button.menu-button {
		display: none;
	}

	@media only screen and (max-width: $breakpoint-md) {
		&__mobile-button.menu-button {
			display: inline-block;
		}
	}
}

.navigation {
	&__container {
		padding: 4px 0;
		text-align: right;
	}

	&__link {
		color: var(--primary-dark);
		font-family: $base-font;
		line-height: 1.7142857142857142em;
		font-size: 1em;
		font-weight: 400;
		text-decoration: none;

		padding: 0 16px;

		&:hover {
			color: var(--primary-light);
		}
	}

	@media only screen and (max-width: $breakpoint-md) {
		&--show.navigation {
			display: block;
			position: absolute;
			top: 100%;
			width: 100%;
			font-size: 1.5em;

			background: var(--menu-gradient);
			backdrop-filter: blur(4px);
		}

		&__link {
			display: block;
			text-align: left;
			padding: 6px 0;
		}
	}
}

.menu-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: var(--primary-dark-03);
	border-radius: 1px;
	user-select: none;    

	&__checkbox {
		display: none;
	}

	&__label {
		display: inline-block;
		padding: 7px;
		height: 100%;
		width: 100%;

		cursor: pointer;
	}

	&__icon {
		display: none;
		width: 18px;
		height: 18px;
		fill: #fff;
	}

	&__checkbox:checked + &__label > &__icon--moon {
		display: block;
	}

	&__checkbox:not(:checked) + &__label > &__icon--sun {
		display: block;
	}

	&:hover {
		opacity: .9;
	}
}

.sales-info {
	&__text {
		@include text;

		font-size: 1.2857142857142858em;
		line-height: 1.4444444444444444em;
		margin-bottom: 32px;
		margin-top: 8px;
		padding-right: 10px;
	}

	&__button {
		margin-top: 20px;
	}
}

.sales-list {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item:not(:last-child):after {
		content: '';
		margin: 42px auto 21px auto;
		display: block;
		border-bottom: 1px solid var(--tint);
		width: 82px;
	}
}

.sales-item {
	text-align: center;
	padding: 0 26px;
	box-sizing: content-box;

	&__title {
		font-family: $text-font;
		font-size: 4.857142857142857em;
		line-height: 1.0588235294117647em;
		font-weight: 400;
		color: var(--primary-dark);

		&--dollar {
			font-size: 0.5882352941176471em;
			line-height: 1em;
			color: var(--grey);
		}
	}

	&__description {
		@include text;

		font-size: 1.2857142857142858em;
		line-height: 1.4444444444444444em;
		margin-top: 12px;
	}
}
