@import '../variables.scss';

.quote {
	background: url('assets/quote-background.jpg');
	background-size: contain;
	padding: 101px 129px;
	color: var(--primary-light);

	&__text {
		display: block;
		font-family: $base-font;
		font-size: 2.2857142857142856em;
		line-height: 1.4375em;
		text-indent: 0;
		position: relative;
		letter-spacing: 0.04em;

		&:before {
			content: '';
			display: inline-block;
			background-image: url(assets/icons/quote-icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			width: 100px;
			height: 81px;
			position: absolute;
			top: -34px;
			left: -59px;
		}

		&:after {
			content: '';
		}
	}

	&__author {
		display: block;
		margin-top: 40px;
		letter-spacing: 0.08em;
		font-family: $text-font;
		font-style: italic;
		font-size: 1.4285714285714286em;
		line-height: 1em;
	}
}