@import '../variables.scss';

.quote {
	background: url('assets/images/quote-background.jpg');
	background-size: contain;
	padding: 101px 129px;
	color: var(--primary-light);

	&__text {
		display: block;
		font-family: $base-font;
		font-size: 2.2857142857142856em;
		line-height: 1.4375em;
		text-indent: 0;
		position: relative;
		letter-spacing: 0.04em;
	}


	&__icon {
		display: inline-block;
		width: 100px;
		height: 81px;
		position: absolute;
		top: -34px;
		left: -59px;

		stroke: var(--secondary);
		fill: none;
		opacity: 0.3;
	}

	&__author {
		display: block;
		margin-top: 40px;
		letter-spacing: 0.08em;
		font-family: $text-font;
		font-style: italic;
		font-size: 1.4285714285714286em;
		line-height: 1em;
	}
}