@import 'variables.scss';
@import 'components/button.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	font-size: 14px;
	background-color: var(--background);

	@media only screen and (max-width: $breakpoint-md) {
		font-size: 12px;
	}
}

.info-box {
	&__image {
		display: block;
		width: 566px;
		height: auto;
	}

	&__content {
		background-color: var(--info-box-background);
		margin: 55px 0;
		padding: 42px 11px;
		position: relative;
	}
}
