@import 'variables.scss';

$base-width: calc(1280px - 128px);
$gutter: 12px;

@function col($columns, $size) {
	@return ($size / $columns) * 100%;
}

.container {
	max-width: $base-width;
	width: 100%;
	margin: auto;
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
}

.col {
	$columns: 12;

	@for $column from 1 through $columns {
		&-#{$column} {
			width: col($columns, $column);
			padding: 0 $gutter;
		}
	}
}

.button {
	text-transform: uppercase;
	color: var(--secondary);
	font-family: $base-font;
	font-weight: 700;
	font-size: 1.4285714285714286em;
	line-height: 1em;
	text-decoration: none;
	display: inline-block;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 0.65em;
		background: var(--secondary);
		opacity: 0.3;
		margin-top: -.45em;
		margin-left: 10px;
	}

	&:hover {
		&:after {
			margin-top: -.47em;
			margin-left: 4px;
		}
	}
}

.nobreak {
	white-space: nowrap;
}

@mixin text {
	color: var(--primary-dark);
	font-family: $base-font;
	font-weight: 300;
	opacity: 0.8;
}
