@import 'variables.scss';

$base-width: calc(1280px - 128px);
$gutter: 12px;

@function col($columns, $size) {
	@return ($size / $columns) * 100%;
}

.container {
	max-width: $base-width;
	width: 100%;
	margin: auto;
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
}

.col {
	$columns: 12;

	@for $column from 1 through $columns {
		&-#{$column} {
			width: col($columns, $column);
			padding: 0 $gutter;
		}
	}
}

.nobreak {
	white-space: nowrap;
}

@mixin text {
	color: var(--primary-dark);
	font-family: $base-font;
	font-weight: 300;
	opacity: 0.8;
}

@mixin title {
	color: var(--primary-dark);
	font-size: 2.857142857142857em;
	font-family: $text-font;
	font-weight: 400;
	line-height: 1.2em;

	&--keyword {
		color: var(--tint);

		&:hover {
			text-decoration: underline;
		}
	}
}
