:root {
	--primary-light: #fff;
	--primary-dark: #262A3F;
	--primary-medium: rgba(88, 98, 145, 0.3);
	--primary-dark-01: rgba(38, 42, 63, 0.1);
	--primary-dark-03: rgba(38, 42, 63, 0.3);
	--primary-dark-08: rgba(38, 42, 63, 0.8);
	--tint: #85BBB1;
	--grey: #E4E4E4;
	--grey-light: rgba(228, 228, 228, 0.1);
	--secondary: #F1897B;

	--info-box-background: rgba(255, 255, 255, 0.9);
}

$base-font: Lato, sans-serif;
$text-font: "Playfair Display", serif;